@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root{
  /* primary */
  --soft-red:  hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-m-cyan: hsl(168, 34%, 41%);
  /* Neutral */
  --v-dark-d-blue: hsl(212, 27%, 19%);
  --v-dark-g-blue: hsl(213, 9%, 39%);
  --dark-g-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 18px;
  font-family: 'Barlow';
}

/* Header */
#main-header{
  max-width: 100vw;
  height: 110vh;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  background-image: url('images/desktop/image-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo{
  width: 8.40rem;
  height: 1.7rem;
  margin: 3.15rem 2.7rem;
}

.main-navigation{
  display: flex;

}

.main-navigation li{
  margin: 3.25rem 1.6rem;
  list-style: none;
}

.main-navigation a{
  text-decoration: none;
  color: #fff;
}

.main-navigation a.special{
  text-transform: uppercase;
  margin-right: 1rem;
  background-color: #fff;
  color: var(--v-dark-d-blue);
  padding: 1.25rem 2.2rem;
  border-radius: 50px;
  font-family: 'Fraunces';
}

.main-navigation a.special:hover{
  background-color: rgba(255, 255, 255, 0.425);
  color: #fff;
}

.hamburger{
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin: 2rem 2rem;
  width: 30px;
  height: 30px;
  transition: all 0.25s;
  background: none;
  border: none;

}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #fff;
  transition: all 0.5s;
  transform: rotate(0);
}

.hamburger-middle{
  transform: translateY(7px);
}

.hamburger-bottom{
  transform: translateY(14px);
}

.open .hamburger-top{
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle{
  display: none;
}
.open .hamburger-bottom{
  transform: rotate(-45deg) translateX(-6px) translateY(6px);
}

.mobile-menu{
  position: fixed;
  background-color: #fff;
  top: 85px;
  right: 0px; 
  width: 90%;
  height: 400px;
  text-align: center;
  transition: all 0.3s; 
}

.mobile-menu ul{
  margin-top: 20px;
  line-height: 2.5;

}

.mobile-menu ul :last-child{
  margin-top: 2rem;
}

.mobile-menu li{
  list-style: none;
}

.mobile-menu a{
  text-decoration: none;
  color: var(--dark-g-blue);
  font-size: 30px;
}

.mobile-menu a.special{
  text-transform: uppercase;
  margin-right: 1rem;
  background-color: var(--yellow);
  color: var(--v-dark-d-blue);
  padding: 1.8rem 2.2rem;
  border-radius: 50px;
  font-family: 'Fraunces';
  font-size: 24px;
}

.hidden{
  transform: translateX(100%);
}

.no-scroll{
  overflow: hidden;
}

.heading{
  text-transform: uppercase;
  font-family: 'Fraunces';
  text-align: center;
  align-self: center;
  color: #fff;
  font-weight: bolder;
  font-size: 3.4rem;
  letter-spacing: 0.4rem;
  word-spacing: 0.4rem;
  margin-top: 14rem;
}

.down-arrow{
  margin: 9em auto;
}

.first-container{
display: grid;
grid-template-columns: 50% 50%;
min-width: 100%;
}

.first-container-text{
  margin: 8rem;
}

.first-container-text h2{
  font-family: 'Fraunces';
  margin-bottom: 2.5rem;
  max-width: 30rem;
  font-weight: bolder;
  font-size: 2.9rem;
  color: var(--v-dark-d-blue);
}

.first-container-text p{
  font-family: 'Barlow';
  margin-bottom: 2.5rem;
  max-width: 32.5rem;
  font-weight: bolder;
  font-size: 1.3rem;
  color: var(--v-dark-g-blue);
  line-height: 1.5;
}

.first-container-text a{
  text-decoration: none;
  font-family: 'Fraunces';
  font-size: 1.3rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--v-dark-d-blue)
}

.first-container-image{
  background-image: url('images/desktop/image-transform.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.second-container{
  display: grid;
  grid-template-columns: 50% 50%;
  min-width: 100%;
  }
  
  .second-container-text{
    margin: 8rem;
   
  }
  
  .second-container-text h2{
    font-family: 'Fraunces';
    margin-bottom: 2.5rem;
    max-width: 33rem;
    font-weight: bolder;
    font-size: 2.9rem;
    color: var(--v-dark-d-blue);
  }
  
  .second-container-text p{
    font-family: 'Barlow';
    margin-bottom: 2.5rem;
    max-width: 32.5rem;
    font-weight: bolder;
    font-size: 1.3rem;
    color: var(--v-dark-g-blue);
    line-height: 1.5;
  }
  
  .second-container-text a{
    text-decoration: none;
    font-family: 'Fraunces';
    font-size: 1.3rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--v-dark-d-blue)
  }
  
  .second-container-image{
    background-image: url('images/desktop/image-stand-out.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
  }

  .third-container{
    display: grid;
    grid-template-columns: 50% 50%;
    min-width: 100%;
    }
    
    .third-container-text-a{
      background-image:  url('images/desktop/image-graphic-design.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 25rem;
    }
    
    .third-container-text-a h4{
      font-family: 'Fraunces';
      margin-bottom: 2.5rem;
      max-width: 33rem;
      font-weight: bolder;
      font-size: 1.9rem;
      color: var(--dark-cyan);
      text-align: center;
      margin: auto;
      margin-bottom: 1.5rem;
    }
    
    .third-container-text-a p{
      font-family: 'Barlow';
      margin-bottom: 2.5rem;
      max-width: 21.5rem;
      font-weight: bolder;
      font-size: 1rem;
      color: var(--dark-cyan);
      line-height: 1.5;
      text-align: center;
      margin: auto;
      margin-bottom: 4rem;
    }
    
    .third-container-text-b{
      background-image:  url('images/desktop/image-photography.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 25rem;
    }
    
    .third-container-text-b h4{
      font-family: 'Fraunces';
      margin-bottom: 2.5rem;
      max-width: 33rem;
      font-weight: bolder;
      font-size: 1.9rem;
      color: var(--dark-cyan);
      text-align: center;
      margin: auto;
      margin-bottom: 1.5rem;
    }
    
    .third-container-text-b p{
      font-family: 'Barlow';
      margin-bottom: 2.5rem;
      max-width: 20.5rem;
      font-weight: bolder;
      font-size: 1rem;
      color: var(--dark-cyan);
      line-height: 1.5;
      text-align: center;
      margin: auto;
      margin-bottom: 4rem;
    }

    .fourth-container{
      display: grid;
      grid-template-rows: 100px 1fr;
      margin: auto;
      max-width: 100%;
    }

    .fourth-container h4{
      justify-self: center;
      text-transform: uppercase;
      font-family: 'Fraunces';
      color: var(--grayish-blue);
      margin-top: 9rem;
      width: 40rem;
      text-align: center;
      font-size: 1.2rem;
      letter-spacing: .3rem;
    }

    .clients-text-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 10rem  10rem;
      max-width: 100%;
    }

    .first-client-text{
      text-align: center;
    }

    .first-client-text img{
      width: 5.625rem;
      height: 5.625rem;
      border-radius: 100%;
      margin-bottom: 4rem;
    }

    .first-client-text p{
      font-size: 1rem;
      color: var(--v-dark-g-blue);
      font-weight: bolder;
      line-height: 1.5;
      padding: 1rem 2rem 5rem 2rem;
      max-width: 23rem;
    }

    .first-client-text h5{
      color: --v-dark-d-blue;
      font-family: 'Fraunces';
      padding-bottom: 1rem;
    }

    .first-client-text small{
      font-size: 0.7rem;
      color: var(--v-dark-g-blue)
    }

    .second-client-text{
      text-align: center;
    }

    .second-client-text img{
      width: 5.625rem;
      height: 5.625rem;
      border-radius: 100%;
      margin-bottom: 4rem;
    }

    .second-client-text p{
      font-size: 1rem;
      color: var(--v-dark-g-blue);
      font-weight: bolder;
      line-height: 1.5;
      padding: 1rem 2rem 5rem 2rem;
      max-width: 23rem;
    }

    .second-client-text h5{
      color: --v-dark-d-blue;
      font-family: 'Fraunces';
      padding-bottom: 1rem;
    }

    .second-client-text small{
      font-size: 0.7rem;
      color: var(--v-dark-g-blue)
    }

    .third-client-text{
      text-align: center;
    }

    .third-client-text img{
      width: 5.625rem;
      height: 5.625rem;
      border-radius: 100%;
      margin-bottom: 4rem;
    }

    .third-client-text p{
      font-size: 1rem;
      color: var(--v-dark-g-blue);
      font-weight: bolder;
      line-height: 1.5;
      padding: 1rem 2rem 5rem 2rem;
      max-width: 23rem;
    }

    .third-client-text h5{
      color: --v-dark-d-blue;
      font-family: 'Fraunces';
      padding-bottom: 1rem;
    }

    .third-client-text small{
      font-size: 0.7rem;
      color: var(--v-dark-g-blue)
    }

    .fifth-container{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      height: 30rem;
    }

    .fifth-container .first-image{
      background-image: url('images/desktop/image-gallery-milkbottles.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .fifth-container .second-image{
      background-image: url('images/desktop/image-gallery-orange.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .fifth-container .third-image{
      background-image: url('images/desktop/image-gallery-cone.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    .fifth-container .fourth-image{
      background-image: url('images/desktop/image-gallery-sugarcubes.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    footer{
      background-color: var(--dark-m-cyan);
      text-align: center;
      height: 40vh;
    }

    footer svg{
      margin: 3rem 0rem;
    }

    footer li{
      margin: auto;
    display: inline-block;
    margin-left: 2rem;
    margin-bottom: 3rem;
    }

    footer a{
      text-decoration: none;
      color: var(--dark-cyan);
    }

    footer .socials{
      color: var(--dark-cyan);
      margin-bottom: 3rem;
    }

    footer i{
      margin-left: 1rem;
    }

/* 500px width screen */
    @media(max-width: 500px) {
      #main-header{
        background-image: url('images/mobile/image-header.jpg');
        background-size: cover;
        height: 60vh;
        width: 100vw;
      }
      
      .logo{
        width: 8.40rem;
        height: 1.7rem;
        margin: 1.5rem 2rem;
      }

      .hamburger{
        display: block;
      }

      .main-navigation{
        display: none;
      }
      
      .heading{
        max-width: 31.25rem;
        font-size: 3.8rem;
        margin-top: 17rem;
      }
      
      .down-arrow{
        margin: 12em auto;
      }

      .first-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 45% 40%;
        min-width: 100%;
        height: 80vh;
        }

      .first-container :first-child{
        order: 2;
      }
        
        .first-container-text{
          margin: 4rem;
        }
        
        .first-container-text h2{
          font-size: 2.3rem;
          text-align: center;
        }
        
        .first-container-text p{
          text-align: center;
        }
        
        .first-container-text a{
          margin: 110px;
        }

        .first-container-image{
          background-image: url('images/mobile/image-transform.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
        }

        .second-container{
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: 45% 40%;
          min-width: 100%;
          height: 80vh;
        }

          .second-container-text{
            margin: 4rem;
          }
          
          .second-container-text h2{
            font-size: 2.3rem;
            text-align: center;
          }
          
          .second-container-text p{
            text-align: center;
          }
          
          .second-container-text a{
            margin: 100px;
          }

          .seecond-container-image{
            background-image: url('images/mobile/image-stand-out.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
          }

          .third-container{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 70vh 70vh;
            min-width: 100%;
          }

          .third-container-text-a{
            background-image:  url('images/mobile/image-graphic-design.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 35rem;

           
          }
          
          .third-container-text-a h4{
            font-family: 'Fraunces';
            margin-bottom: 2.5rem;
            max-width: 33rem;
            font-weight: bolder;
            font-size: 2.5rem;
            color: var(--dark-cyan);
            text-align: center;
            margin: auto;
            margin-bottom: 1.5rem;
          }
          
          .third-container-text-a p{
            font-family: 'Barlow';
            margin-bottom: 2.5rem;
            max-width: 27rem;
            font-weight: bolder;
            font-size: 1.3rem;
            color: var(--dark-cyan);
            line-height: 1.5;
            text-align: center;
            margin: auto;
            margin-bottom: 4rem;
          }
          
          .third-container-text-b{
            background-image:  url('images/mobile/image-photography.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 35rem;

           
          }
          
          .third-container-text-b h4{
            font-family: 'Fraunces';
            margin-bottom: 2.5rem;
            max-width: 33rem;
            font-weight: bolder;
            font-size: 2.5rem;
            color: var(--dark-cyan);
            text-align: center;
            margin: auto;
            margin-bottom: 1.5rem;
          }
          
          .third-container-text-b p{
            font-family: 'Barlow';
            margin-bottom: 2.5rem;
            max-width: 27rem;
            font-weight: bolder;
            font-size: 1.3rem;
            color: var(--dark-cyan);
            line-height: 1.5;
            text-align: center;
            margin: auto;
            margin-bottom: 4rem;
          }

          .fourth-container{
            display: grid;
            grid-template-rows: 100px 1fr;
            margin: auto;
            max-width: 100%;
          }
      
          .fourth-container h4{
            justify-self: center;
            text-transform: uppercase;
            font-family: 'Fraunces';
            color: var(--grayish-blue);
            margin: 6rem auto;
            width: 30rem;
            text-align: center;
            font-size: 1.2rem;
            letter-spacing: .3rem;
          }
      
          .clients-text-container{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 35vh 35vh 35vh;
            margin: 3rem  5rem;
            justify-self: center;
          }

          .first-client-text{
            text-align: center;
            margin-top: 3rem;
          }
      
          .first-client-text img{
            margin-bottom: 2rem;
          }
      
          .first-client-text p{
            padding: 1rem 1rem 2.5rem 1rem;
            width: 20rem;
          }
      
          .second-client-text{
            text-align: center;
          }
      
          .second-client-text img{
            margin-bottom: 2rem;
          }
      
          .second-client-text p{
            padding: 1rem 1rem 2.5rem 1rem;
            width: 20rem;
          }

          .third-client-text{
            text-align: center;
          }
      
          .third-client-text img{
            margin-bottom: 2rem;
          }
      
          .third-client-text p{
            padding: 1rem 1rem 2.5rem 1rem;
            width: 20rem;
          }

          .third-client-text{
            text-align: center;
          }
      
          .third-client-text img{
            margin-bottom: 2rem;
          }
      
          .third-client-text p{
            padding: 1rem 1rem 2.5rem 1rem;
            width: 20rem;
          }

          .fifth-container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 30rem;
          }
      
          .fifth-container .first-image{
            background-image: url('images/mobile/image-gallery-milkbottles.jpg');
            background-size: cover;
            background-repeat: no-repeat;
          }
      
          .fifth-container .second-image{
            background-image: url('images/mobile/image-gallery-orange.jpg');
            background-size: cover;
            background-repeat: no-repeat;
          }
      
          .fifth-container .third-image{
            background-image: url('images/mobile/image-gallery-cone.jpg');
          }
      
          .fifth-container .fourth-image{
            background-image: url('images/mobile/image-gallery-sugar-cubes.jpg');
          }

          footer{
            height: 32vh;
          }
      
          footer svg{
            margin: 3rem 0rem;
          }
      
          footer li{
          margin: auto;
          display: inline-block;
          margin-left: 3rem;
          margin-bottom: 3rem;
          }
      
          footer a{
            text-decoration: none;
            color: var(--dark-cyan);
            font-size: 1.7rem;
          }
      
          footer .socials{
            color: var(--dark-cyan);
            margin-bottom: 3rem;
          }
      
          footer i{
            margin-left: 2rem;
          }
    
  }


    

